.signup-login-form {
  width: 55vw;
  max-width: 27.5rem;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}